.App {
  text-align: center;
}

body {
  background-color: #313131;
  margin: 0;
  font-family: Arial, sans-serif;
}

.game-container {
  position: relative;
  width: 100%;
  height: 300px;
}

.player {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("./bugsBunny.png");
  background-size: contain;
}

.block {
  position: absolute;
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #afa9a900;
  border: white 1px solid;
  border-radius: 25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hit__correct {
  border-color: #6FE579;
  color: #6FE579;
}

.hit__wrong {
  border-color: #FF5A5F;
  color: #FF5A5F;
}

.main__container {
  color: white;
}

.question__container {
  font-size: x-large;
  color: white;
  display: flex;
  justify-content: center;
}

.content__container {
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.content__content {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 25vh;
  width: 50%;
  font-size: large;
  border: 1px solid #4D4D4D;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(190, 190, 190);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

.language-active {
  border: white 1px solid;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  color: #313131;
  background-color: white;
  cursor: pointer;
  margin: 0 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.language {
  border: white 1px solid;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  margin: 0 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.language:hover {
  color: #313131;
  background-color: white;
}

.language__container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.video__link {
  color: white;
  text-decoration: underline;
  cursor: pointer;
  margin-right: 0px;
  margin-left: 0px;
}

.video__link:hover {
  font-weight: bold;
}

.main__logo {
  margin-bottom: 1rem;
  color: white;
  font-size: xxx-large;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.course__container {
  display: flex;
  justify-content: center;
}

.logo {
  height: 75px;
}

.start__main {
  margin: 0;
  background-color: #313131;
}

.start__logo {
  margin-top: 2rem;
  font-size: 6rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.start__text {
  color: white;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.start__button {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  transition: transform 0.3s ease-in-out;
}

.button__container {
  transition: transform 0.3s ease-in-out;
}

.button__container:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.start__icon {
  color: white;
}

.social-media-buttons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}